<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .center-input {
        text-align: center;
    }

    .center-button {
        display: flex;
        justify-content: center;
    }
</style>

<div class="login-container">
    <h2>管理員登入</h2>
    {% if error_msg %}
    <p>{{ error_msg }}</p>
    {% endif %}
    <form action="/manager_login" method="post">
        <div class="container">
            {% block body %}

            <div class="form-group">
                <input type="text" name="owner" class="form-control center-input" placeholder="帳號">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control center-input" placeholder="密碼">
            </div>
            <div class="form-group center-button">
                <button type="submit" class="btn btn-primary">確認</button>
            </div>
            {% endblock %}
        </div>

    </form>
</div>


</html>